body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.site-header-top {
   margin-top: 12px;
   color: black;
}

.site-header-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
}

.logo {
   border-radius: 5px;
   padding-top: 12px;
   padding-right: 24px;
   padding-bottom: 12px;
   padding-left: 24px;
   font-size: 20px;
   text-decoration: none;
   background-color: #ff7500;
   color: #fff;
   transition: background-color 0.5 ease;
}

.logo:hover {
   background-color: rgba(255, 117, 0, 0.7);
}

.site-header-right {
   margin: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.site-header-nav ul {
   display: flex;
}

.site-header-nav a:hover {
   color: #ff7500;
}

.site-header-nav a {
   text-decoration: none;
   color: #000;
}

.site-header-nav li {
   list-style: none;
   margin-right: 15px;
}

.head-page {
   border-bottom: #ff7500 solid 4px;
}

.follow-link {
   padding-top: 12px;
   padding-right: 24px;
   padding-bottom: 12px;
   padding-left: 24px;
   text-decoration: none;
   background-color: #ff7500;
   color: #fff;
   border-radius: 5px;
}

.follow-link:hover {
   background-color: rgba(255, 117, 0, 0.7);
}


/* interest css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #fff;
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   background-color: #4158d0;
   background-image: linear-gradient(
   43deg,
   #4158d0 0%,
   #c850c0 46%,
   #ffcc70 100%
   );
}

.container {
   display: flex;
   flex-direction: column;
   gap: 5px;
   background-color: rgba(204, 204, 204, 0.5);
   padding: 15px 25px;
   border-radius: 10px;
   user-select: none;
   cursor: pointer;
   font-weight: 500;
   transition: all 0.5s;
   margin-bottom: 25px;
}

.container:hover {
   box-shadow: 0px 26px 70px 1px rgba(0, 0, 0, 0.4);
   transform: scale(1.001);
}

.container h1 {
   font-weight: 500;
}

.copyright {
   bottom: 50px;
}

@media (max-width: 460px) {
   .container h1 {
      font-size: 22px;
   }
}

.site-header {
   background-color: #fff;
   color: black;
}

.site-header-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   border-radius: 5px;
   padding-top: 12px;
   padding-right: 24px;
   padding-bottom: 12px;
   padding-left: 24px;
   font-size: 20px;
   text-decoration: none;
   background-color: #ff7500;
   color: #fff;
   transition: background-color 0.5 ease;
   margin-right: 15px;
}

.logo:hover {
   background-color: rgba(255, 117, 0, 0.7);
}

.site-header-right {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.site-header-nav ul {
   display: flex;
}

.site-header-nav a:hover {
   color: #ff7500;
}

.site-header-nav a {
   text-decoration: none;
   color: #000;
}

.site-header-nav li {
   list-style: none;
   margin-right: 15px;
}

.head-page {
   border-bottom: #ff7500 solid 4px;
}

.follow-link {
   padding-top: 12px;
   padding-right: 24px;
   padding-bottom: 12px;
   padding-left: 24px;
   text-decoration: none;
   background-color: #ff7500;
   color: #fff;
   border-radius: 5px;
}

.follow-link:hover {
   background-color: rgba(255, 117, 0, 0.7);
}

.signup-form {
   margin: 5px;
}

.form-wrapper {
   display: flex;
   align-items: center;
}

.todo-container {
   margin-bottom: 80px;
}

.todo-input {
   border: 0;
   color: #000;
   padding: 4px;
   border-radius: 5px;
   margin-bottom: 20px;
}

.submit-btn {
   background-color: #ff7500;
   border: 0;
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
}

.submit-btn:hover {
   background-color: #ffcc77;
}

#todoList input {
   display: none;
}

#todoList button {
   background-color: #ff7500;
   border: 0;
   border-radius: 5px;
   padding: 5px;
   margin-right: 10px;
   cursor: pointer;
   transition: all ease 0.5s;
}

#todoList button:hover{
   background-color: #ffcc77;
}

#output {
   border: #fff solid 2px;
   border-radius: 5px;
   margin-bottom: 300px;
   color: #fff;
}

.small-wrapper {
   bottom: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.small-wrapper a {
   text-decoration: none;
}

.phone-number {
   border: #fff 3px solid;
   border-radius: 5px;
   padding: 10px;
   background: linear-gradient(321deg, rgb(151, 162, 227), rgb(221, 167, 150));
}

.phone-number p a {
   color: #000;
}
