body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-img {
    object-fit: cover;
    object-position: center;
}

.site-header {
    background-color: #fff;
}

.header-section {
    background-color: #252420;
    color: #fff;
}

.sitenav-right {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.sitenav-link {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    color: #000;
}

.siteheader-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-main {
    display: flex;
    list-style: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-link {
    font-weight: 700;
    list-style: none;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    background-color: #ff7500;
    color: #fff;
    text-decoration: none;
}

.orange-line {
    width: 80px;
    height: 3px;
    background: #ff7500;
}

.features-icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}

.promo-peregraph {
    color: #ff7500;
}

.promo {
    background-color: #252420;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer {
    background: #f8f8f8;
    
} 

.site-footer-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.social-link {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.site-footer-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #000;
    list-style: none;
}

.site-footer-bottom {
    display: flex;
}